#back_article {
    width: 80%;
    padding: 20% 10% 10% 10%;
    background-attachment: fixed;
    background-size: cover;
}

#back_article span:first-child {
    font-size: 22px;
}

#back_article span {
    font-size: 18px;
}

#back_article h2 {
    font-size: 30px;
    font-weight: normal;
}

.button {
    margin: 10px 0;
    width: fit-content;
    padding: .2% 1%;
    background-color: #CE3E1E;
    transition: .1s;
}

.button:hover {
    transform:scale(1.1)
}

.button a {
    text-decoration: none;
    font-size: 28px;
    color: #EDEDED;    
}